#iStockLink
{
  background-image: url('../img/istock-thumb.png');
}
#soulLink
{
  background-image: url('../img/soul-thumb.png');
}
#gladLink
{
  background-image: url('../img/glad-thumb.png');
}
#tangLink
{
  background-image: url('../img/tang-thumb.png');
}

#balancedLink
{
  background-image: url('../img/balanced-thumb.png');
}

#bbdLink
{
  background-image: url('../img/bbd-thumb.png');
}

#ccLink
{
  background-image: url('../img/cc-thumb.png');
}

#dogLink
{
  background-image: url('../img/dog-thumb.png');
}

#sanguineLink
{
  background-image: url('../img/sanguine-thumb.png');
}

.WorkLink
{
  margin-top:70px;
  /* display:block; */ /* I'm not quite sure yet why this is conflicting with bootstrap.css */
  width:350px;
  height:260px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  opacity:0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}

.WorkLink:hover
{
  opacity:1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}